@-webkit-keyframes ani-cta {
  from {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  to {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
}
@keyframes ani-cta {
  from {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  to {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
}
.hero {
  background-color: #FFD819;
  height: 80vh;
  border-bottom-left-radius: 3.5rem;
  border-bottom-right-radius: 3.5rem;
  border-top-right-radius: 3.5rem;
  position: relative;
}
.hero > .container {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr;
  grid-template-rows: 1fr;
  -ms-grid-columns: 17rem auto;
  grid-template-columns: 17rem auto;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding-bottom: 0;
  height: 80vh;
}
.hero > .container > *:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}
.hero > .container > *:nth-child(2) {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
}
.hero > .container .hero__img {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
  position: absolute;
  bottom: 0;
}
.hero > .container .hero__content {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}

.welcome {
  font-size: 1.2rem;
  color: #F5F5F5;
}

.hero__title {
  font-size: 2rem;
  text-align: center;
  margin-top: 1rem;
  color: #212529;
}

.buttons {
  display: -ms-grid;
  display: grid;
  gap: 1.2rem;
  -ms-grid-columns: 1fr 1.2rem 1fr 1.2rem 1fr 1.2rem 1fr;
  grid-template-columns: repeat(4, 1fr);
  -ms-grid-rows: 1fr 1.2rem 1fr;
  grid-template-rows: repeat(2, 1fr);
}

.buttons > *:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}

.buttons > *:nth-child(2) {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
}

.buttons > *:nth-child(3) {
  -ms-grid-row: 1;
  -ms-grid-column: 5;
}

.buttons > *:nth-child(4) {
  -ms-grid-row: 1;
  -ms-grid-column: 7;
}

.buttons > *:nth-child(5) {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
}

.buttons > *:nth-child(6) {
  -ms-grid-row: 3;
  -ms-grid-column: 3;
}

.buttons > *:nth-child(7) {
  -ms-grid-row: 3;
  -ms-grid-column: 5;
}

.buttons > *:nth-child(8) {
  -ms-grid-row: 3;
  -ms-grid-column: 7;
}
.buttons .button-1 {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1/3;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1rem;
  padding-inline: 1rem;
  padding-block: 1rem;
  border: 2px solid #212529;
  border-radius: 3rem;
}
.buttons .button-2 {
  -ms-grid-column: 3;
  -ms-grid-column-span: 2;
  grid-column: 3/5;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1rem;
  padding-inline: 1rem;
  padding-block: 1rem;
  border: 2px solid #212529;
  border-radius: 3rem;
}
.buttons .button-3 {
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-column: 2/4;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1rem;
  padding-inline: 1rem;
  padding-block: 1rem;
  border: 2px solid #212529;
  border-radius: 3rem;
}